body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/* HEADER CSS */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    height: 100px;
    padding-left: 250px;
    padding-right: 250px;
}

.headerlogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.linkcontainer {
    display: flex;
    gap: 16px;
}

.headerlink {
    color: #E5E7EB;
    font-size: 18px;
}

/* SXN 2 CSS */

.sectiontwo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 100px;
    padding-left: 250px;
    padding-right: 250px;
    gap: 40px;
}

.s2left {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 10px;

}

.s2header {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.s2text {
    font-size: 18px;
    color: #E5E7EB;
}

.s2button {
    width:150px;
    height: 45px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size: 18px;
    font-weight: bold;
    padding: 0px;
    border: 0px;
    border-radius: 10px;
}

.s2image {
    flex: 1 1 auto;
    height: 238px;
    background-color: grey;
}

.sectionthree {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
}

.s3header {
    color: #1F2937;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 36px;
}

.s3sub {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.s3imgtexts {
    display: flex;
    flex-direction: column;
    width: 160px;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.s3text {
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}

.img {
    padding: 0px;
    border-style: solid;
    border-color: #3882F6;
    width: 160px;
    height: 160px;
    box-sizing: border-box;
    border-radius: 10px;
}

.sectionfour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-color: #E5E7EB;
    padding-left: 500px;
    padding-right: 500px;
    gap: 16px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.quotecredit {
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

.sectionfive {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 150px;
    background-color: #F9FAF8;
    padding-left: 500px;
    padding-right: 500px;
    gap: 16px;
}

.s5container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 1000px;
    height: 200px;
    background-color: #3882F6;
    gap: 40px;
    border-radius: 25px;
}

.s5leftbig {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.s5leftsmall {
    color: #F9FAF8;
    font-size: 18px;
}

.s5button {
    color: #F9FAF8;
    background-color: #3882F6;
    font-size: 18px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
    border-color: #F9FAF8;
    border-width: 3px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
}